<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>

</head>
<body>

<div id="app">



    <!--搜索表单-->
    <el-form :inline="true" :model="exercise" class="demo-form-inline" key="search">


        <el-form-item label="习题id">
            <el-input  v-model="exercise.exerciseId" placeholder="课程名称"></el-input>
        </el-form-item>

        <el-form-item label="习题类型">
            <el-input  v-model="exercise.kind" placeholder="课程名称"></el-input>
        </el-form-item>

        <el-form-item label="出题人">
            <el-input  v-model="exercise.teacherId" placeholder="课程名称"></el-input>
        </el-form-item>

        <el-form-item label="习题科目">
            <el-input  v-model="exercise.courseId" placeholder="课程名称"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
    </el-form>

    <!--按钮-->

    <el-row>

        <el-button type="danger" plain @click="deleteByIds">批量删除</el-button>
        <el-button type="primary" plain @click="dialogVisible = true">新增</el-button>

    </el-row>
    <!--添加数据对话框表单-->
    <el-dialog
            title="编辑习题信息"
            :visible.sync="dialogVisible"
            width="30%"
    >

        <el-form ref="form" :model="exercise" label-width="80px" key="add">

            <el-form-item label="习题类型">
                <el-input  v-model="exerciseAdd.kind"></el-input>
            </el-form-item>

            <el-form-item label="习题分数">
                <el-input  v-model="exerciseAdd.exerciseScore"></el-input>
            </el-form-item>

            <el-form-item label="习题内容">
                <el-input  v-model="exerciseAdd.content"></el-input>
            </el-form-item>

            <el-form-item label="习题答案">
                <el-input  v-model="exerciseAdd.answer"></el-input>
            </el-form-item>

            <el-form-item label="出题人">
                <el-input  v-model="exerciseAdd.teacherId"></el-input>
            </el-form-item>

            <el-form-item label="习题科目">
                <el-input  v-model="exerciseAdd.courseId"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="addExercise">提交</el-button>
                <el-button @click="dialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>


    <!--表格-->
    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                :row-class-name="tableRowClassName"
                @selection-change="handleSelectionChange"
        >
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    type="index"
                    width="50">
            </el-table-column>


            <el-table-column
                    prop="exerciseId"
                    label="习题编号"
                    align="center"
            >
            </el-table-column>

            <el-table-column
                    prop="kind"
                    label="习题类型"
                    align="center"
            >
            </el-table-column>

            <el-table-column
                    prop="exerciseScore"
                    label="习题分数"
                    align="center"
            >
            </el-table-column>

            <el-table-column
                    prop="content"
                    label="习题内容"
                    align="center"
            >
            </el-table-column>

            <el-table-column
                    prop="answer"
                    label="习题答案"
                    align="center"
            >
            </el-table-column>

            <el-table-column
                    prop="teacherId"
                    label="出题人"
                    align="center"
            >
            </el-table-column>

            <el-table-column
                    prop="courseId"
                    label="习题科目"
                    align="center"
            >
            </el-table-column>

<!--            <el-table-column
                    align="center"
                    label="操作">

                <el-row>
                    <el-button type="primary" icon="el-icon-edit">修改</el-button>
                </el-row>

            </el-table-column>-->

        </el-table>
    </template>

    <!--分页工具条-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 15, 20]"
            :page-size="5"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount">
    </el-pagination>

</div>


<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script src="js/axios-0.18.0.js"></script>


<script>
    new Vue({
        el: "#app",

        mounted() {
            //当页面加载完成后,发送异步请求,获取数据
            this.selectAll();

        },


        methods: {

            //查询所有数据
            selectAll() {
                axios({
                    method: "post",
                    url: "http://localhost:8080/zmsProject/exercise/selectByPageAndCondition?currentPage="+this.currentPage+"&pageSize="+this.pageSize,
                    data:this.exercise
                }).then(resp => {
                    this.tableData = resp.data.rows;
                    this.totalCount = resp.data.totalCount;
                })
            },


            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;

            },
            // 查询方法
            onSubmit() {
                this.selectAll();
            },
            // 添加数据
            addExercise() {
                //发送ajax异步请求,添加数据
                axios({
                    method: "post",
                    url: "http://localhost:8080/zmsProject/exercise/add",
                    data: this.exerciseAdd
                }).then(resp =>{
                    if (resp.data == "success") {
                        //添加成功
                        //关闭窗口
                        this.dialogVisible = false;

                        //重新查询数据
                        this.selectAll();

                        this.$message({
                            message: '添加成功',
                            type: 'success'
                        });
                    }
                })
            },

            //分页
            handleSizeChange(val) {
                //console.log(`每页 ${val} 条`);
                this.pageSize = val;
                this.selectAll();

            },
            handleCurrentChange(val) {
                /*console.log(`当前页: ${val}`);*/
                //重新设置当前页码
                this.currentPage = val;
                this.selectAll();
            },

            /**
             * 批量删除
             */
            deleteByIds() {
                //1.创建id数组,从this.multipleSelection获取

                //弹出确认提示框
                this.$confirm('此操作将删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //确认
                    for (let i = 0; i < this.multipleSelection.length; i++) {
                        let selectionElement = this.multipleSelection[i];

                        this.selectedIds[i] = selectionElement.exerciseId;
                    }


                    //2.发送AJAX请求
                    axios({
                        method: "post",
                        url: "http://localhost:8080/zmsProject/exercise/deleteByIds",
                        data: this.selectedIds
                    }).then(resp =>{
                        if (resp.data == "success") {
                            //删除成功成功

                            //重新查询数据
                            this.selectAll();

                            this.$message({
                                message: '删除成功',
                                type: 'success'
                            });
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            }

        },
        data() {
            return {
                //每页显示的条数
                pageSize:5,
                //总记录数
                totalCount:100,
                // 当前页码
                currentPage: 1,
                // 添加数据对话框是否展示的标记
                dialogVisible: false,

                // 模型数据
                exercise: {
                    exerciseId: '',
                    exerciseScore:'',
                    kind:'',
                    content:'',
                    answer:'',
                    teacherId:'',
                    courseId:'',
                },

                exerciseAdd:{
                    exerciseId: '',
                    exerciseScore:'',
                    kind:'',
                    content:'',
                    answer:'',
                    courseId:'',
                    teacherId:'',
                },


                //被选中的id数组
                selectedIds: [],
                // 复选框选中数据集合
                multipleSelection: [],
                // 表格数据
                tableData: [{
                    exerciseId: -1,
                    exerciseScore: 0,
                    kind:'0',
                    content:'',
                    answer:'',
                    courseId:0,
                    teacherId:0,
                }, {
                    exerciseId: -1,
                    exerciseScore: 0,
                    kind:'0',
                    content:'',
                    answer:'',
                    courseId:0,
                    teacherId:0,
                }, {
                    exerciseId: -1,
                    exerciseScore: 0,
                    kind:'0',
                    content:'',
                    answer:'',
                    courseId:0,
                    teacherId:0,
                }, {
                    exerciseId: -1,
                    exerciseScore: 0,
                    kind:'0',
                    content:'',
                    answer:'',
                    courseId:0,
                    teacherId:0,
                }]
            }
        }
    })

</script>

</body>
</html>